@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-display: "Roboto", "sans-serif";

  --color-background: rgb(255, 255, 255);
  --color-background-cinza: rgba(248, 248, 248, 1);
  --color-preto: rgba(38, 38, 38, 1);
  --color-cinza: rgba(152, 152, 152, 1);
  --color-link: rgba(5, 135, 255, 1);
  --color-laranja: rgba(253, 140, 115, 1);

  --text-xl: 24px;
  --text-lg: 20px;
  --text-md: 18px;
  --text-sm: 16px;
  --text-xs: 14px;
}